{% extends "base.html" %}

{% block content %}

<!-- Products / Showcase Section -->
<section id="robots" class="py-5 bg-light">
  <div class="container">
    <h1 class="text-center mb-5">JENA Float</h1>

    <!-- Product 1 -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jena/full.webp') }}" class="img-fluid rounded" style="max-width: 400px;" alt="Jona ROV">
      </div>
      <div class="col-md-6">
        <h3>Overview</h3>
        <p class="lead">
          JENA Float is a state-of-the-art, vertically profiling autonomous robot designed to collect critical oceanographic data from the surface down to great depths. Built as part of the GO-BGC (Global Ocean Biogeochemistry Array) initiative, JENA Float aims to help researchers monitor and understand the chemistry, biology, and physics of the global ocean in real time. Unlike traditional floats, JENA was engineered with real-world usability at its core. It features a next-generation PCB system, improving reliability, modularity, and serviceability in the field.
        </p>
      </div>
    </div>

    <!-- Product 2 -->
    <div class="row align-items-center mb-5 flex-md-row-reverse">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jena/base.webp') }}" class="img-fluid rounded" style="max-width: 800px;" alt="Guard">
      </div>
      <div class="col-md-6">
        <h3>Advanced Buoyancy Engine</h3>
        <p class="lead">
          With a custom designed and manufactured buoyancy engine, JENA is able to control its vertical position within the water column. The motor driven piston is equipped with a high-prevision rotary encoder to adjust its density, allowing it to rise and sink at varying speeds autonomously. To do this, a PID controller is used to determine the ideal piston position location. 
        </p>
      </div>
    </div>

      <!-- Product 1 -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jena/wifi.webp') }}" class="img-fluid rounded" style="max-width: 500px;" alt="Gripper">
      </div>
      <div class="col-md-6">
        <h3>Compatible Communication</h3>
        <p class="lead">
           JENA Float is equipped with an external WiFi antenna that protrudes above the water's surface, allowing the robot to communicate via websockets to an access point located on shore. This AP can be connected to with any WiFi-enabled device, allowing for easy data visualization and control of the robot.
        </p>
      </div>
    </div>

    <!-- Product 2 -->
    <div class="row align-items-center mb-5 flex-md-row-reverse">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jena/sense.webp') }}" class="img-fluid rounded" style="max-width: 600px;" alt="Fork">
      </div>
      <div class="col-md-6">
        <h3>Pressure Sensors</h3>
        <p class="lead">
            The onboard pressure sensor can accurately measure the depth and pressure of the water column, providing critical data for scientific research and environmental monitoring. This can be accessed remotely via the web interface, allowing for real-time data analysis and decision-making.
        </p>
      </div>
    </div>

      <!-- Product 1 -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jena/ui.webp') }}" class="img-fluid rounded" style="max-width: 600px;" alt="Tube Cameras">
      </div>
      <div class="col-md-6">
        <h3>Advanced UI</h3>
        <p class="lead">
            The on-shore access point hosts a easy-to-use and intuitive web interface that allows users to remotely control the robot, view real-time data, and access advanced features such as remote monitoring and data analysis. The interface is hosted locally, removing the need for an internet connection.
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a href="{{ url_for('static', filename='img/jena/ds.pdf') }}" target="_blank" class="btn btn-primary btn-lg mx-2">
      View Technical Documentation (PDF)
    </a>
    <a href="{{ url_for('static', filename='img/jena/sid.pdf') }}" target="_blank" class="btn btn-primary btn-lg mx-2">
      View SID (PDF)
    </a>
  </div>
</section>



{% endblock %}