{% extends "base.html" %}

{% block content %}

<!-- Products / Showcase Section -->
<section id="robots" class="py-5 bg-light">
  <div class="container">
    <h1 class="text-center mb-5">JONA ROV and Accessories</h1>

    <!-- Product 1 -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jona.png') }}" class="img-fluid rounded" style="max-width: 500px;" alt="Jona ROV">
      </div>
      <div class="col-md-6">
        <h3>Overview</h3>
        <p class="lead">
          JONA ROV is a next-generation underwater vehicle designed to thrive in demanding environments. Every detail was shaped by real pilot feedback, making it both powerful and intuitive to operate. The electronics inside JONA ROV were built from the ground up to be modular, reliable, and future-proof. Instead of relying on generic parts, the team designed custom circuit boards and a unique “electronics skeleton” that keeps everything organized, serviceable, and easy to upgrade.
        </p>
      </div>
    </div>

    <!-- Product 2 -->
    <div class="row align-items-center mb-5 flex-md-row-reverse">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jona/guard.webp') }}" class="img-fluid rounded" style="max-width: 250px;" alt="Guard">
      </div>
      <div class="col-md-6">
        <h3>Custom Thruster Guards</h3>
        <p class="lead">
          Custom-designed guards for the thrusters of the JONA ROV, ensuring protection and durability during operations.
        </p>
      </div>
    </div>

      <!-- Product 1 -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jona/gripper.webp') }}" class="img-fluid rounded" style="max-width: 300px;" alt="Gripper">
      </div>
      <div class="col-md-6">
        <h3>Mechanical Gripper</h3>
        <p class="lead">
            A custom-designed mechanical gripper that attaches with a universal receiver for JONA ROV enabling precise manipulation and handling of objects underwater.
        </p>
      </div>
    </div>

    <!-- Product 2 -->
    <div class="row align-items-center mb-5 flex-md-row-reverse">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jona/fork.webp') }}" class="img-fluid rounded" style="max-width: 370px;" alt="Fork">
      </div>
      <div class="col-md-6">
        <h3>Static Manipulator</h3>
        <p class="lead">
            In addition to the mechanical gripper, a lightweight static fork was designed. This fork uses the same universal receiver as the gripper, allowing for quick and easy tool changes on the go.
        </p>
      </div>
    </div>

      <!-- Product 1 -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='img/jona/tube.webp') }}" class="img-fluid rounded" style="max-width: 350px;" alt="Tube Cameras">
      </div>
      <div class="col-md-6">
        <h3>Modular Tube Cameras</h3>
        <p class="lead">
            Two modular tube cameras for JONA ROV provide enhanced visibility and monitoring capabilities in underwater environments. Each camera is modular and operates independently, allowing for flexible configurations based on mission requirements.
        </p>
      </div>
    </div>
  </div>



    <h1 class="text-center mb-5">3D Model</h1>

<div class="row justify-content-center mb-5">
  <div class="col-12 d-flex justify-content-center">
    <div class="ratio ratio-16x9" style="width: 70%; min-width: 320px; max-width: 900px;">
      <iframe src="https://medford52.autodesk360.com/shares/public/SH30dd5QT870c25f12fc1fb2ed57ddc20beb?mode=embed"
        allowfullscreen
        frameborder="0"
        style="width:100%;height:100%;min-height:400px;">
      </iframe>
    </div>
  </div>
</div>

  <p class="text-center">
    <a href="{{ url_for('static', filename='img/jona/REGIONAL_MedfordVocTech_Sunk Robotics_Technical_Documentation_2025.pdf') }}" target="_blank" class="btn btn-primary btn-lg">
      View Technical Documentation (PDF)
    </a>
  </p>
</section>



{% endblock %}